In [87]:
# Importing libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [88]:
path = r'C:\Users\iryna\Documents\11.08.2024 Boat Sales Analysis'

In [89]:
boats = pd.read_csv(os.path.join(path,'02 Data','Original Data', 'boat_data.csv'))

In [90]:
boats.head()

,Price,Boat Type,Manufacturer,Type,Year Built,Length,Width,Material,Location,Number of views last 7 days
0,CHF 3337,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,NaN,Switzerland Â» Lake Geneva Â» VÃ©senaz,226
1,EUR 3490,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75
2,CHF 3770,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124
3,DKK 25900,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,NaN,Denmark Â» Svendborg,64
4,EUR 3399,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58

In [91]:
boats.shape

(9888, 10)

In [92]:
boats.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9888 entries, 0 to 9887
Data columns (total 10 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Price                        9888 non-null   object
 1   Boat Type                    9888 non-null   object
 2   Manufacturer                 8550 non-null   object
 3   Type                         9882 non-null   object
 4   Year Built                   9888 non-null   int64
 5   Length                       9879 non-null   float64
 6   Width                        9832 non-null   float64
 7   Material                     8139 non-null   object
 8   Location                     9852 non-null   object
 9   Number of views last 7 days  9888 non-null   int64
dtypes: float64(2), int64(2), object(6)
memory usage: 772.6+ KB

### Data quality and consistency checks

In [94]:
# Checking for mixed-type data in dataframe

for col in boats.columns.tolist():
  weird = (boats[[col]].map(type) != boats[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (boats[weird]) > 0:
    print (col)

Manufacturer
Type
Material
Location

In [95]:
# Found columns with mixed data type that need to be addressed - Manufacturer, Type, Material, Location

boats['Manufacturer'] = boats['Manufacturer'].astype('str')
boats['Type'] = boats['Type'].astype('str')
boats['Material'] = boats['Material'].astype('str')
boats['Location'] = boats['Location'].astype('str')

In [96]:
# Checking mixed-data types after changing the data type.

for col in boats.columns.tolist():
  weird = (boats[[col]].map(type) != boats[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (boats[weird]) > 0:
    print (col)

##### No mixed data type columns found.

In [98]:
# Checking for missing values

boats.isnull().sum()

Price                           0
Boat Type                       0
Manufacturer                    0
Type                            0
Year Built                      0
Length                          9
Width                          56
Material                        0
Location                        0
Number of views last 7 days     0
dtype: int64

##### Can see that the missing values ​​analysis showed that there are missing values ​​in the columns 'Length' and 'Width'
##### These missing values ​​will be replaced by medians..

In [100]:
# Calculating the medians of the data set.

boats['Length'].median()

10.28

In [101]:
boats['Width'].median()

3.33

In [102]:
# Replacing missing values ​​with Medians.

boats['Length'].fillna(10.28)
boats['Width'].fillna(3.33)

0       1.90
1       1.50
2       1.42
3       1.00
4       1.46
        ...
9883    2.44
9884    1.68
9885    1.80
9886    1.89
9887    1.60
Name: Width, Length: 9888, dtype: float64

In [103]:
# Checking for missing values after replacing

boats.isnull().sum()

Price                           0
Boat Type                       0
Manufacturer                    0
Type                            0
Year Built                      0
Length                          9
Width                          56
Material                        0
Location                        0
Number of views last 7 days     0
dtype: int64

In [104]:
# Checking for duplicates.

boats_dups = boats[boats.duplicated()]

In [105]:
boats_dups

Empty DataFrame
Columns: [Price, Boat Type, Manufacturer, Type, Year Built, Length, Width, Material, Location, Number of views last 7 days]
Index: []

##### No duplicates found.

In [107]:
# Renaming column 'Type'

boats.rename(columns = {'Type':'Condition, engine type'}, inplace = True)

In [108]:
# Checking column names after renaming

boats.columns

Index(['Price', 'Boat Type', 'Manufacturer', 'Condition, engine type',
       'Year Built', 'Length', 'Width', 'Material', 'Location',
       'Number of views last 7 days'],
      dtype='object')

### Checking the frequency of values.

In [110]:
boats['Price'].value_counts(dropna = False)

Price
EUR 65000      77
EUR 45000      67
EUR 75000      64
EUR 89000      64
EUR 55000      61
               ..
EUR 1199000     1
EUR 1197600     1
EUR 1184590     1
EUR 1163760     1
CHF 3780        1
Name: count, Length: 3182, dtype: int64

In [111]:
boats['Boat Type'].value_counts(dropna = False)

Boat Type
Motor Yacht                        2720
Sport Boat                         1407
Flybridge                          1194
Trawler                             679
Pilothouse                          613
                                   ...
Bowrider,Motor Yacht,Sport Boat       1
Sport Boat,Working Boat               1
Classic,Motor Yacht,Sport Boat        1
Motor Yacht,Wakeboard/Wakesurf        1
Classic,Runabout,Trawler              1
Name: count, Length: 126, dtype: int64

In [112]:
boats['Manufacturer'].value_counts(dropna = False)

Manufacturer
nan                            1338
BÃ©nÃ©teau power boats          631
Jeanneau power boats            537
Sunseeker power boats           383
Princess power boats            241
                               ...
ISA Yachts power boats            1
Couach power boats                1
Perini Navi Spa power boats       1
Palmer Johnson power boats        1
Hunter power boats                1
Name: count, Length: 911, dtype: int64

In [113]:
# In the 'manufacturer' column - the values of nan​​ were found. 
# Leaving it unchanged as it takes up more than 5% of the data and it is impossible to delete it, as well as make a replacement, since the manufacturer is unknown.

In [114]:
boats['Condition, engine type'].value_counts(dropna = False)

Condition, engine type
Used boat,Diesel                4140
Used boat,Unleaded              1686
Used boat                       1462
new boat from stock,Unleaded    1107
new boat from stock              665
new boat from stock,Diesel       291
new boat on order,Unleaded       150
Display Model,Unleaded            75
new boat on order                 61
new boat on order,Diesel          61
Diesel                            57
Used boat,Electric                27
Unleaded                          22
Display Model,Diesel              19
new boat from stock,Electric      18
Display Model                     18
Used boat,Gas                     10
nan                                6
Display Model,Electric             6
new boat from stock,Gas            2
new boat from stock,Hybrid         1
Used boat,Hybrid                   1
Display Model,Gas                  1
Electric                           1
Used boat,Propane                  1
Name: count, dtype: int64

In [115]:
# In the 'Condition, engine type' column - the values of nan ​​were found. 
# Leaving it unchanged as it is impossible to make a replacement, since the value is unknown.

In [116]:
boats['Year Built'].value_counts(dropna = False)

Year Built
2020    1279
2019     663
0        551
2008     457
2007     393
        ...
1914       1
1895       1
1885       1
1931       1
1900       1
Name: count, Length: 122, dtype: int64

In [117]:
# The year designation 0 was detected. That is, the year is unknown.Leaving it unchanged

In [118]:
boats['Length'].value_counts(dropna = False)

Length
12.00    109
9.00     107
11.00     96
10.00     96
6.50      82
        ...
42.58      1
23.30      1
13.07      1
26.63      1
3.60       1
Name: count, Length: 1613, dtype: int64

In [119]:
boats['Width'].value_counts(dropna = False)

Width
2.50    346
3.00    251
2.59    204
2.55    195
2.54    170
       ...
7.44      1
6.92      1
6.95      1
7.47      1
1.89      1
Name: count, Length: 576, dtype: int64

In [120]:
boats['Material'].value_counts(dropna = False)

Material
GRP                    5484
nan                    1749
PVC                    1123
Steel                   939
Wood                    235
Aluminium               229
Plastic                  77
Carbon Fiber             30
Thermoplastic            15
Hypalon                   5
Reinforced concrete       1
Rubber                    1
Name: count, dtype: int64

In [121]:
# In the 'Material' column - the values of nan ​​were found. 
# Leaving it unchanged since the Material is unknown.

In [122]:
boats['Location'].value_counts(dropna = False)

Location
Netherlands Â» In verkoophaven                      309
Croatia (Hrvatska)                                  244
Italy Â» Toscana Â» Toscana                         173
Italy                                               155
France                                              152
                                                   ...
Italy Â» La Spezia, Italie                            1
France Â» Bretagne Â» Bretagne                        1
Italy Â» Linz Marine Test Centre "Italo Monzino"      1
Italy Â» Adriatic Sea (Fano)                          1
Switzerland Â» Bielersee Â» Gerolfingen               1
Name: count, Length: 2996, dtype: int64

In [123]:
boats['Number of views last 7 days'].value_counts(dropna = False)

Number of views last 7 days
68      91
74      87
62      84
67      84
81      84
        ..
582      1
332      1
868      1
435      1
1116     1
Name: count, Length: 674, dtype: int64

### Performing basic descriptive statistical analysis

In [125]:
boats[['Price', 'Boat Type', 'Manufacturer', 'Condition, engine type',
       'Year Built', 'Length', 'Width', 'Material', 'Location',
       'Number of views last 7 days']].describe()

        Year Built       Length        Width  Number of views last 7 days
count  9888.000000  9879.000000  9832.000000                  9888.000000
mean   1893.192860    11.570017     3.520124                   149.160801
std     460.201582     6.002820     1.220534                   151.819752
min       0.000000     1.040000     0.010000                    13.000000
25%    1996.000000     7.470000     2.540000                    70.000000
50%    2007.000000    10.280000     3.330000                   108.000000
75%    2017.000000    13.930000     4.250000                   172.000000
max    2021.000000   100.000000    25.160000                  3263.000000

##### The calculated values ​​look realistic. According to the data set.

In [127]:
# Deviding 'Price' column into 2 new columns

In [129]:
boats[['currency', 'value']] = boats['Price'].str.split(' ', n=1, expand=True)

In [131]:
boats.drop(labels=['Price'], axis=1, inplace=True)

In [137]:
boats['value']=boats['value'].astype(np.int64)

In [139]:
boats.head()

,Boat Type,Manufacturer,"Condition, engine type",Year Built,Length,Width,Material,Location,Number of views last 7 days,currency,value
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,nan,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3337
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3770
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,nan,Denmark Â» Svendborg,64,DKK,25900
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399

In [141]:
# Creating another column with converted currency

def price_in_eur(currency, value):
    if currency in ('EUR', 'CHF', np.nan):
        return value
    elif currency == 'DKK':
        return value * 0.13
    elif currency == 'GBP':
        return value * 1.14


boats['value_in_eur'] = boats.apply(lambda x: price_in_eur(x['currency'], x['value']), axis=1)

In [143]:
boats.head()

,Boat Type,Manufacturer,"Condition, engine type",Year Built,Length,Width,Material,Location,Number of views last 7 days,currency,value,value_in_eur
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,nan,Switzerland Â» Lake Geneva Â» VÃ©senaz,226,CHF,3337,3337.0
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,Germany Â» BÃ¶nningstedt,75,EUR,3490,3490.0
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,Switzerland Â» Lake of Zurich Â» StÃ¤fa ZH,124,CHF,3770,3770.0
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,nan,Denmark Â» Svendborg,64,DKK,25900,3367.0
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,Germany Â» Bayern Â» MÃ¼nchen,58,EUR,3399,3399.0

In [151]:
# Deviding 'Location' column into 2 new columns

boats[['Country', 'City']] = boats['Location'].str.split(' Â',n=1, expand=True)

In [157]:
boats['Country'].value_counts()

Country
Germany                          1914
Italy                            1793
France                           1229
Switzerland                      1112
Netherlands                      1056
                                 ...
Neustadt in Holstein (Ostsee)       1
Venezuela                           1
Luxembourg                          1
Rolle                               1
Thun                                1
Name: count, Length: 123, dtype: int64

In [159]:
boats = boats.drop(columns=['City', 'Location'])

In [163]:
boats.head()

,Boat Type,Manufacturer,"Condition, engine type",Year Built,Length,Width,Material,Number of views last 7 days,currency,value,value_in_eur,Country
0,Motor Yacht,Rigiflex power boats,new boat from stock,2017,4.00,1.90,nan,226,CHF,3337,3337.0,Switzerland
1,Center console boat,Terhi power boats,new boat from stock,2020,4.00,1.50,Thermoplastic,75,EUR,3490,3490.0,Germany
2,Sport Boat,Marine power boats,new boat from stock,0,3.69,1.42,Aluminium,124,CHF,3770,3770.0,Switzerland
3,Sport Boat,Pioner power boats,new boat from stock,2020,3.00,1.00,nan,64,DKK,25900,3367.0,Denmark
4,Fishing Boat,Linder power boats,new boat from stock,2019,3.55,1.46,Aluminium,58,EUR,3399,3399.0,Germany

##### Variables: 
##### 'Price' - Character, boat price listed in different currencies (e.g. EUR, Â£, CHF etc.) on the website, 
##### 'Boat Type' - Character, type of the boat,
##### 'Manufacturer' - Character, manufacturer of the boat, 
##### 'Condition, engine type' - Character, condition of the boat and engine type(e.g. Diesel, Unleaded, etc.), engine type',
##### 'Year Built - Numeric, year of the boat built,
##### 'Length'- Numeric, length in meter of the boat,
##### 'Width' - Numeric, width in meter of the boat,
##### 'Material' - Character, material of the boat (e.g. GRP, PVC, etc.),
##### 'Location' - Character, location of the boat is listed,
##### 'Number of views last 7 days' - Numeric, number of the views of the list last 7 days

In [167]:
# Exporting dataframe

boats.to_csv(os.path.join(path, '02 Data','Prepared Data', 'boats.csv'))